{
  "plugins": [
    [
      "prismjs",
      {
        "languages": [
          "javascript",
          "css",
          "markup",
          "bash",
          "json",
          "markdown",
          "php",
          "python",
          "sass",
          "scss",
          "sql",
          "yaml",
          "typescript",
          "bash",
          "cpp",
          "dart",
          "docker",
          "git",
          "go",
          "graphql",
          "java",
          "kotlin",
          "latex",
          "less",
          "makefile",
          "objectivec",
          "perl",
          "rust",
          "scala",
          "swift",
          "vim",
          "wasm",
          "wiki",
          "csharp",
          "ruby",
          "r",
          "powershell"
        ],
        "plugins": []
      }
    ]
  ]
}
