# 依赖目录
node_modules/
pnpm-lock.yaml
package-lock.json
yarn.lock

# 构建输出
dist/
build/

# Plasmo 特有目录
.plasmo/
out/

# 开发环境
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 编译缓存
.turbo/
.cache/
*.tsbuildinfo

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 编辑器目录
.idea/
.vscode/
.vim/
*.sublime-workspace
*.sublime-project

# 系统文件
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# 临时文件
*.swp
*.swo
*~
*.tmp
*.bak 
.cursor/