@use "sass:meta";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this file,
 * You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Avoid adding ID selector rules in this style sheet, since they could
 * inadvertently match elements in the article content. */
.ReadSomething {
    --main-background: white;
    --light-theme-background: #fff;
    --dark-theme-background: rgb(28, 27, 34);
    --light-theme-foreground: rgb(21, 20, 26);
    --dark-theme-foreground: rgb(251, 251, 254);
    --content-width: 22em;
    --body-padding: 64px;
    --line-height: 1.6em;
    --text-selected-foreground: inherit;
    --selected-background: rgba(0, 97, 224, 0.3);
    --primary-color: rgb(0, 97, 224);
    --visited-link-foreground: #b5007f;
    --icon-disabled-fill: rgba(91, 91, 102, 0.4);
    --icon-fill: rgb(91, 91, 102);
    --link-selected-background: var(--selected-background);
    --link-foreground: var(--primary-color);
    --text-selected-background: var(--selected-background);
    --main-foreground: var(--light-theme-foreground);
    --outline-focus-color: var(--primary-color);
    --setting-background: #19191E;
    --setting-foreground: var(--dark-theme-foreground);
    --setting-sub-background: #AAAAAD;

    @media (prefers-color-scheme: dark) {
        --main-background: var(--dark-theme-background);
        --main-foreground: var(--dark-theme-foreground);
        --primary-color: rgb(0, 221, 255);
        --selected-background: rgba(0, 221, 255, 0.3);
        --icon-fill: rgb(251, 251, 254);
        --icon-disabled-fill: rgba(251, 251, 254, 0.4);
        --link-selected-foreground: #fff;
        --visited-link-foreground: #e675fd;

        --setting-background: var(--light-theme-background);
        --setting-foreground: var(--light-theme-foreground);
        --setting-sub-background: #AAAAAD;
    }

    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    padding: var(--body-padding);
    background-color: var(--main-background);
    color: var(--main-foreground);

    a {
        border-radius: 2px;
    }

    a::selection {
        background-color: var(--link-selected-background);
        color: var(--link-selected-foreground);
    }

    a:focus-visible {
        outline: 2px solid var(--outline-focus-color);
        outline-offset: 1px;
    }

    blockquote {
        box-shadow: var(--main-foreground) 3px 0px 0px 0px inset;
    }

    .container {
        margin: 0 auto;
        font-size: var(--font-size);
        max-width: var(--content-width);
        line-height: var(--line-height);
    }

    table,
    th,
    td {
        border: 1px solid currentColor;
        border-collapse: collapse;
        padding: 6px;
        vertical-align: top;
    }

    table {
        margin: 5px;
    }

    pre {
        font-family: -apple-system-ui-monospaced, Menlo;
    }

    h1,
    h2,
    h3 {
        font-weight: bold;
    }

    h1 {
        font-size: 1.6em;
        line-height: 1.25em;
    }

    h2 {
        font-size: 1.2em;
        line-height: 1.51em;
    }

    h3 {
        font-size: 1em;
        line-height: 1.66em;
    }

    a:link {
        text-decoration: underline;
        font-weight: normal;
    }

    a:link,
    a:link:hover,
    a:link:active {
        color: var(--link-foreground);
    }

    a:visited {
        color: var(--visited-link-foreground);
    }

    * {
        max-width: 100%;
    }

    hr {
        width: 30%;
        height: 1px;

        background-color: #ccc;
        border: 0;
        margin-block: 48px 47px;
        margin-inline: auto;
    }

    p,
    p,
    code,
    pre,
    blockquote,
    ul,
    ol,
    li,
    figure,
    li {
        margin: -10px -10px 20px;
        padding: 10px;
    }

    li > ul,
    li > ol {
        margin-bottom: -10px;
    }

    p > img:only-child,
    p > a:only-child > img:only-child,
    figure img {
        display: block;
        margin: auto;
    }

    img[moz-reader-center] {
        margin-inline: auto;
    }

    figcaption {
        font-size: 0.9em;
        line-height: 1.48em;
        font-style: italic;
    }

    pre {
        white-space: pre-wrap;
    }

    blockquote {
        padding: 0;
        padding-inline-start: 16px;
    }

    ul,
    ol {
        padding: 0;
    }

    ul {
        padding-inline-start: 30px;
        list-style: disc;
    }

    ol {
        padding-inline-start: 30px;
    }

    button {
        -moz-context-properties: fill;
        //color: var(--main-foreground);
        fill: var(--icon-fill);
    }

    button:disabled {
        fill: var(--icon-disabled-fill) !important;
    }

    pre code {
        background-color: var(--main-background);
        border: 1px solid var(--main-foreground);
        display: block;
        overflow: auto;

    }

    *::selection {
        background-color: var(--text-selected-background);
        color: var(--text-selected-foreground);
    }

    .header > h1 {
        font-size: 1.6em;
        line-height: 1.25em;
        width: 100%;
        margin: 30px 0;
        padding: 0;
    }

    .header > .credits {
        font-size: 0.9em;
        line-height: 1.48em;
        margin: 0 0 10px;
        padding: 0;
        font-style: italic;
    }

    .header > .meta-data {
        font-size: 0.65em;
        margin: 0 0 15px;
    }

    .domain {
        font-size: 0.9em;
        line-height: 1.48em;
        padding-bottom: 4px;
        font-family: Helvetica, Arial, sans-serif;
        text-decoration: underline var(--main-foreground) !important;
        color: var(--link-foreground);
    }
}

.ReadSomething {
    @include meta.load-css("./heti.css");
}
