.ReadSomething {
    &.Bookerly {
        font-family: Bookerly !important
    }

    &.Chakra_Petch {
        font-family: Chakra_Petch !important
    }

    &.Fira_Code {
        font-family: Fira_Code !important
    }

    &.IBM_Plex_Sans {
        font-family: IBM_Plex_Sans !important
    }
}
